@import '../../../assets/styles/variables';

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: calc(100% - 80px);
  min-width: 100%;
  background-color: $gray-bgc;
  overflow: hidden;
  @media (max-width: $mobile) {
    min-height: 100%;
  }
}

.app {
  width: 100%;
  max-width: $maxAppWidth;
}
