@import '../../../assets/styles/variables';

.table {
  border-radius: 8px;
  background-color: $light-gray-bgc;
  box-shadow: 0 0 6px 1px $light-blue;
  width: 100%;
  margin: 50px 0 20px;
  overflow: scroll;
  th, td {
    border-bottom: 1px solid $dark-blue;
  }
}
