@import '../../../assets/styles/variables';

.table_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 20px 20px;
  gap: 20px;
  .table {
    border-radius: 8px;
    background-color: $light-gray-bgc;
    box-shadow: 0 0 6px 1px $light-blue;
    border-collapse: collapse;
    transition: all 0.5s ease;
    max-width: 951px;
    width: 100%;
    th, td {
      border-bottom: 1px solid $dark-blue;
      padding: 10px;
      @media (max-width: $mobile) {
        font-size: 12px;
        padding: 5px;
      }
    }
  }
}

