@import '../../../assets/styles/variables';

.header {
  display: flex;
  background-color: $light-gray-bgc;
  justify-content: center;
  .header_content {
    max-width: $maxAppWidth;
    width: 100%;
    display: flex;
    padding: 8px 20px;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 20px;
    }
    .header_content__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
      }
      .header_content_title {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .header_content__update {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $mobile) {
        gap: 10px;
      }
      .last_update {
        font-size: 12px;
      }
    }
  }
}
